html {background-image: url(https://wallpapers.com/images/hd/mix-color-1920-x-1200-background-ekv2pa96onb9loyp.jpg);
background-size: cover;}
h1 {text-align: center ;
font-weight: bold;
text-transform: uppercase;}
h1 {color: rgb(233, 255, 31);
text-shadow: 5px 5px 15px;
text-decoration: underline
yellow;}
